* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  color: #333;
  width: 500px;
  height: 500px;
  font-size: 14px;
  user-select: none;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.table {
  display: flex;
}
.table a {
  padding: 0 10px;
  height: 40px;
  color: #fff;
  background-color: #369;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.table a.active {
  background-color: #000;
}

.setting input[type=text] {
  width: 300px;
}
.setting p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
  line-height: 20px;
}
.setting p.des {
  color: #666;
  font-size: 12px;
}
.setting h1, .options-list h1, .btn-styl h1{
  margin-bottom: 20px;
}

.options-list {
  display: none;
  max-height: 400px;
  overflow-y: auto;
}
.options-list p {
  line-height: 40px;
}
.options-list p a {
  padding: 4px 10px;
  background-color: red;
  color: #fff;
  border-radius: 8px;
  margin-right: 10px;
}

.btn-styl {
  display: none;
}
.btn-styl p {
  margin: 10px 0;
}
.btn-styl p span {
  display: inline-block;
  width: 130px;
}
.btn-styl p input {
  width: 200px;
  font-size: 12px;
  color: #000;
}


@keyframes show {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}